/* PAGE REST */
* {margin: 0; padding: 0; box-sizing: border-box;}

body {
    width: 100%;
    height: 100dvh;

    color: #fff;
    font-family: sans-serif;
}

main {
    width: 100%;
    height: 100%;

    position: relative;

}

/* ======================= CONTENT STYLES ======================= */
/* image gallery styles */
.image_gallery {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: auto;
    gap: 10px;
}
.thumbnail_image {
    /* filter: brightness(0.5); */
    transition: all 400ms ease-in-out;
    cursor: zoom-in;
}
.thumbnail_image:hover {
    /* filter: brightness(0.8); */
}
.thumbnail_image img {
    aspect-ratio: 16 / 9;
    filter: brightness(.5);
    object-position: center;
    object-fit: cover;
    /* transform: scale(1.1); */
}
.thumbnail_image img:hover {
    filter: brightness(0.8);
    transition: all 400ms ease-in-out;
}

/* lightbox styles */
.lightbox_container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100dvh;
    
    background: #0002;
    backdrop-filter: blur(20px) brightness(0.2);
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.close-btn,
.previous-btn,
.next-btn {
    width: 30px;
    aspect-ratio: 1;
}
.previous-btn,
.next-btn {
    width: 50px;
    border-radius: 100%;
    padding: .1rem;
    background: #eee3;
    border: none;
}
.previous-btn:hover,
.next-btn:hover {
    background-color: #3337;
}
.close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    background-color: transparent;
}
.navigations {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    width: min(50%, 200px);
    /* background: red; */
    /* background: blue; */

    display: flex;
    justify-content: center;
    gap: 20px;
}


.close-btn img,
.previous-btn img,
.next-btn img {
    width: 100%;
    height: 100%;
}
.image_container {
    width: 90%;
    height: 90%;
    aspect-ratio: 16 / 9;
    background: #333;

    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}
.image_container:hover > .caption_container {
    /* width: min(100%, 400px);
    height: 100px;

    position: absolute;
    bottom: 0;
    left: 0; */
    /* display: flex; */
    /* justify-content: space-between;
    align-items: start;
    padding: 0 1rem;
    gap: 10px;

    background: #0005;
    font-size: 1.1rem;
    border-radius: 3px; */

    bottom: 0;
    transition: all 800ms ease-in-out;
}

.caption_container {
    width: min(100%, 400px);
    height: 100px;

    position: absolute;
    bottom: -138px;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 0 1rem;
    gap: 10px;

    background: #0005;
    font-size: 1.1rem;
    border-radius: 3px 3px 0 0;
    transition: bottom 800ms ease-in-out;
}
.caption {
    flex: 1;
    padding-top: .4rem;
}

/* .caption {
    width: 500px;
    height: 150px;
    background: green;
    position: absolute;
    bottom: 0;
    left: 0;
} */
.edit-btn {
    border: none;
    background-color: transparent;
}

.edit-btn img {
    width: 30px;
}
.edit_caption {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 10px;

    background: #eee;
}
.edit_caption input,
.response_controls {
    flex: 1;
}
.response_controls {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.ok, 
.cancel {
    width: 100px;
}
figure img {
    object-fit: contain;
    width: fit-content;

}







/* SPECIAL CLASSES */
.hidden {
    display: none;
}
.blur {
    filter: blur(5px);
}
.disable_mouse_event {
    pointer-events: none;
}
.noscroll {
    overflow: hidden;
    position: fixed;
}


/* GENERAL STYLES */
button {
    cursor: pointer;
}
img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 780px) {
    .navigations {
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 50px;
        display: flex;
        justify-content: space-between;
    }
}